{% extends "home/starter.html" %}
{% load static %}
{% load compress %}
{% load crispy_forms_tags %}

{% block head %}
    <title> Hanyang Gallery </title>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  
{% endblock %}

{% block body %}
    <div class="login-box auth0-box before">
        <img src="https://i.cloudup.com/StzWWrY34s.png" />
        <h3>Auth0 Example</h3>
        <p>Zero friction identity infrastructure, built for developers</p>
        <a class="btn btn-primary btn-lg btn-login btn-block" href="/login/auth0">Log In</a>
    </div>
{% endblock %}


{% block scripts %}
    {% compress js %}
        <script type="module" src="{% static 'home/js/js_test.js' %}"></script>
    {% endcompress %}
{% endblock %}