.wrapper {
    display: grid;
    margin:auto;
    height:97%;
    padding:10px;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(90px, auto);
  }
  .wrapper_child{
    background: rgba(255, 255, 255, 0.19);
    border-radius: 10px;
    margin:6px;
  }
  .gamification {
    grid-column: 1 / 7;
    grid-row: 1 / 5;
    display: flex;
    justify-content: left;
  }
  .user_nav{
    height:50px;
    border-bottom: 4px solid #0F2027;
    margin:6px;
    padding:0px 16px;
  }
  .intro_profile{
    margin-right:20px;
  }
  .intro_profile object{
    margin-top:auto;
    margin-bottom:auto;
    width:40px;
    height:40px;
    margin-right:8px;
  }
  #journal_portal{
    height:80%;
    width:70%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:auto;
  }
  #journal_manager, #add_new_entry{
    width:100%;
    height:100%;
  }
  #add_new_entry label{
    width:100%;
    height:70%;
  }
  #add_new_entry small{
    margin-bottom:15px;
  }
  #add_new_entry textarea{
    width:100%;
    height:90%;
    padding:10px;
    outline:none;
    border:none;
    border-radius:10px;
    background-color:rgba(255, 255, 255, 0.07);
    color:#d0d6ce;
    resize:none;
  }
  .entry_div{
    width:100%;
    height:2px;
    background-color:#d0d6ce;
    margin-bottom:5px;
  }
  #keyword_map{
    flex-wrap:wrap;
  }
  .keyword_labels{
    margin-bottom:10px;
  }
  .h_border{
    width:4px;
    border-radius:20px;
    height:90%;
    background-color: #0F2027;
  }
  #journal_container{
    height:100%;
    width:100%;
    overflow-y:scroll;
    overflow-x:hidden;
  }
  #entry_review{
    width:100%;
    height:100%;
  }
  .single_entry{
    width:90%;
  }
  #gamification_internal{
    justify-content:space-around;
    height:80%;
  }
  #activity_portal{
    width:20%;
    height:100%;
  }
  .one_activity{
    height:90%;
  }
  #browse_activity_btns{
    margin-top:15px;
  }
  #logout_BTN{
    margin-left:auto;
  }
  .friends {
    grid-column: 7 / 8;
    grid-row: 1 / 4;
    padding: 5px;
    overflow-y:scroll;
  }
  .toggle_BTN{
    font-size:10px;
    padding:2px 10px;
  }
  #resources_tt{
    margin:0px 20px;
  }
  #add_new_contact p{
    text-align:center;
  }
  .new_contact_BTNs{
    margin-top:auto;
  }
  .friends h4, .mood_tracker h4{
    font-size:14px;
    text-align:center;
  }
  .friends p{
    margin:1px;
    font-size:12px;
  }
  .friends a{
    font-size:11px;
  }
  .friends .one_friend{
    margin-bottom:30px;
  }
  #friend_added_message{
    text-align:center;
  }
  .friends input{
    width:100%;
    padding:4px;
    border:none;
    outline:none;
    border-radius:10px;
    background-color:rgba(255, 255, 255, 0.07);
    color:white;
  }
  .friends label{
    margin-bottom:10px;
  }
  #support_network{
    height:50%;
    overflow-y:scroll;
    overflow-x:hidden;
  }
  #mood_filter p{
    margin-bottom:0px;
  }
  #mood_manager{
    overflow-y:scroll;
  }
  .mood_choices button{
    border-radius:4px;
    background-color: rgba(255, 255, 255, 0.04);
    width:100%;
  }
  .mood_choices button:hover, .resources .resource_item button:hover, .five_plan button:hover{
    background-color:#97EAD2;
  }
  .mood_choices p{
    margin:0px;
    font-size:16px
  }

  .five_plan {
    grid-column: 7/ 8;
    grid-row: 4 / 5;
  }
  .five_plan button{
    padding:10px 4px;
    border-radius:4px;
    background-color: rgba(255, 255, 255, 0.04);
  }
  .mood_tracker {
    grid-column: 8/9;
    grid-row: 1/6;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: autofit(5, 50px);
    padding: 10px;
  }
  .mood-title {
    text-align: center;
    justify-content: center;
    font-size: 1.5em;
    border-radius: 10px;
    background-color: #F0DFAD;
  }
  .mood:hover{
    transform: scale(1.2);
    font-size: 2.5em;
    text-align:center;
  }
  .resources {
    grid-column: 1 / 8;
    grid-row: 5;
    overflow-x:scroll;
    justify-content: space-between;
  }
  .resources .resource_item{
    margin:0px 12px;
  }


  .resources .resource_item button{
    margin:0px;
    padding:10px 10px;
    background-color: rgba(255, 255, 255, 0.04);
  }

  .resources .resource_item object{
    width:40px;
    height:40px;
    margin:0px 5px;
  }
  
  .videos {
    display:flex;
    flex-direction:row;
    grid-column: 1 / 9;
    grid-row: 6;
    overflow-y: hidden;
    overflow-x:scroll;
  }

  .videos iframe{
      border-radius:20px;
      border:none;
      padding:9px;
      opacity:.8
  }

  .videos iframe:hover{
    opacity:1;
  }